<% provide(:page_name, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Locamotor</h1>

  <h2>Check out our posts!</h2>

  <%= link_to "Post a Rental", '/posts/new', class: "btn btn-lg btn-primary" %>
</div>
