<h1>Search Results</h1>
<% if !@posts.nil? %>
    <%= will_paginate @posts %>
    <% @posts.reverse_each do |post| %>
        <%= render partial: "shared/post_display", locals: {post: post} %>
    <% end %>
    <%= will_paginate @posts %>
<% end %>