<h1>Search Results</h1>
<% @posts.reverse_each do |post| %>
  <%= render partial: "shared/post_display", locals: {post: post} %>
  <% if post.auto_book == "auto_book" %>
    <%= link_to "Book Now", '/posts/' + post.id.to_s, class: "btn btn-xs btn-primary" %>
    <br>
  <% else %>
    <%= link_to "Request Reservation", '/posts/' + post.id.to_s, class: "btn btn-xs btn-primary" %><br>
  <% end %>
<% end %>