<h1> Conversations </h1>
<% current_id = current_user.id %>
<div class="ui list">
  <div class="item">
    <% @conversations.each do |conversation| %>
        <%= link_to conversation.recipient_email, conversation_messages_path(conversation, num_messages_to_show: 10)%> <br>
    <% end %>
  </div>
</div>

<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
