<h1>New Post</h1>
<form action="/posts/create" method="get">
  <div class="form-group">
    <label for="op_input_email">Email address</label>
    <input type="email" class="form-control" id="op_input_email" placeholder="Enter email">

    <label for="vehicle_select">Select Vehicle</label>
    <select class="form-control" id="vehicle_select">
      <option>Car</option>
      <option>Truck</option>
      <option>Bike</option>
      <option>Boat</option>
      <option>Other</option>
    </select>

    <label for="post_start_time">Select Rental Start Time</label>
    <input class="form-control" type="datetime-local" value="2016-01-01T12:00:00" id="post_start_time">

    <label for="post_end_time">Select Rental End Time</label>
    <input class="form-control" type="datetime-local" value="2016-01-01T12:00:00" id="post_end_time">

    <label for="post_amount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="post_amount" placeholder="Amount">
    </div>

    <label for="post_details">Additional Details</label>
    <textarea class="form-control" id="post_details" rows="3"></textarea>
  </div>

  <button type="submit" class="btn btn-md btn-primary">Make Post!</button>
</form>


<!-- <%= link_to "Make Post!", '/posts/create', class: "btn btn-md btn-primary" %> -->

