// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.something {
    display: none;
}

.map-link {
    background: none;
    border: none;
    color: blue
}

.text-preview {
    text-indent: 1%;
    font-style: italic;
    color: gray
}

.center-btn {
    text-align: center
}

.label-name {
    font-size: 1em;
}

.label-time {
    font-size: 0.8em;
    color: gray
}

.message-display {
    text-indent: 1%;
    font-weight: bold;
}

.user-rating {
    text-align: right;
    font-size: 1.2em;
}

.rating-row {
    float:right;
    clear:both;
}
